html, body {
    margin: 0;
    height: 100%;
}

ul li{
    display: inline;
}

ul li a{
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease-in-out;
}

ul li a.active{
    text-decoration: underline;
    font-weight: bold;
}

ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

p{
    margin: 0;
}

.wrapper{
    margin: auto;
    height: 100%; 
    width: 90%;
    padding: 10px 0px; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box; 
}

.tab-content {
    display: none;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}

.tab-content.active {
    display: flex;
}

#log{
    height: 15%;
    flex-shrink: 0;
    overflow-y: hidden;
}

#credits{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: underline;
    flex-shrink: 0;

    font-size: small;
}

#log, #content, #credits, #storage, #nav{
    padding: 10px;
    border: 2px solid black;
}

#storage:before, #content:before, #log:before, #nav:before {
    background: white;
    content: attr(data-legend);
    position: absolute;
}

#nav:before{
    top: 0px;
}

#log:before  {
    top: 55px;
}